.hero-bg{
    background-color: #f3f3f3;
    height: 97vh;
}

.header {
    background: #F8F8F8;
    text-align: left;
}


section {
    display: flex;
    justify-content: center;
}


.header > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 200px;
    padding-bottom: 64px;
}


.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 12px;
}

.text {
    flex: 1;
    width: 620px;
    margin-right: 48px;
}

.text p {
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
}

.back {
    margin: -100px 0 48px;
}

.back a {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 100ms linear;
}

.text .btn-link {
    font-size: 16px;
    color: #000000;
    opacity: 0.5;
    text-decoration: underline;
    transition: opacity 100ms linear;
}

.text h1 {
    margin-bottom: 16px;
    text-align: left;
    font-size: 60px;
    line-height: 68px;
    font-weight: 600;
    color: #000000;
}

.text h2 {
    margin-bottom: 34px;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    opacity: 0.9;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 460px;
    padding: 44px 32px;
    border: 2px solid rgba(0, 0, 0, 0.14);
    background: #FFFFFF;
}

.img {
    display: block;
    width: 254px;
    height: 244px;
    margin-bottom: 44px;
}

.brioche-bg {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.stats {
    margin-bottom: 34px;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 34px;
}

.stats div:first-child {
    margin-right: 24px;
}

.stats div {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
}

.stats h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
}

.stats span {
    margin: 0 0 12px;
    font-size: 30px;
    line-height: 25px;
    color: #000000;
}

.stats div {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
}

.btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    transition: opacity 100ms linear;
}

a:active , a:hover,a:focus,.btn-link:active , .btn-link:hover,.btn-link:focus{
    opacity: 1;
}